@import url('./__title/settings__title.css');
@import url('./__setting-name/settings__setting-name.css');
@import url('./__button/settings__button.css');
@import url('./__input/settings__input.css');

.settings {
    height: 100%;
    width: calc(100% - 400px - 30px);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: Inter;
    cursor: default;
    user-select: none;
}

@media screen and (max-width: 1440px) {
    .settings {
        width: calc(100% - 300px - 30px);
    }
}