@import url('./blocks/index.css');
@import url('./variables/index.css');
@import url('../vendor/fonts/Inter/inter.css');

.background {
    background: #262C2F;
    margin: 0;
    min-width: 1100px;
    min-height: 650px;
    font-family: Inter;
}

.button {
    transition: .3s ease-in-out;
    cursor: pointer;
}
.button:focus {
    outline: none;
}
.button:hover {
}
.button:active {
    transform: translate(0, 3px);
}
